<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wzbos.sampleb">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="cn.wzbos.sampleb.UserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
    </application>
</manifest>
